<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.rider.interview.mapper.RiderInterviewMapper">

    <select id="queryListByCategory" resultType="org.jeecg.modules.rider.interview.entity.RiderInterview">
        select ri.* from rider_interview ri
        inner join family_post fp on ri.site_id = fp.id
        where ri.phone = #{phone} and fp.category_id in
        <foreach item="item" index="index" collection="categoryIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="pageList" resultType="org.jeecg.modules.rider.interview.dto.RiderInterviewDTO">
        select ri.*,rc.name applyUserName,rc1.name promoterName
        from rider_interview ri
         inner join family_post fp on ri.site_id = fp.id
         left join rider_customer rc on ri.apply_user_id = rc.id
         left join rider_customer rc1 on ri.reference = rc1.id
        ${ew.customSqlSegment}
    </select>


</mapper>