<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.rider.starwall.mapper.FamilyStarWallMapper">


    <update id="addLikeCnt">
        update family_star_wall set like_cnt = ifnull(like_cnt,0) + #{cnt}
        WHERE id = #{id}
    </update>

    <select id="getStarWallList" resultType="org.jeecg.modules.rider.starwall.dto.FamilyStarWallDTO">
        select fsw.id,fsw.name,fsw.image,fsw.description,count(flr.id) likeCnt
        from family_star_wall fsw
        left join family_like_record flr on fsw.id = flr.star_id and flr.create_time >= #{totalDate}
         ${ew.customSqlSegment}
    </select>


</mapper>